.formWrapper {
    padding: 1rem;
    border: 2px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 6px;
}

.formWrapper>*>* {
    padding: 5px;
    margin: 10px 0px;
    display: inline-block;
    vertical-align: top;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.headerWrapper>* {
    margin: 5px 0;
}