/* .title {
    font-weight: bold;
} */

.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.toolkitWrapper {
    border: solid #E0E0E0 2px;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
}

.rowItem {
    padding: 0.5rem !important;
    vertical-align: middle !important;
    height: 50px;
    font-size: 16px !important;
}