.label {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: black;
    width: 200px;
    padding: 5px;
    margin: 10px 0 0 0;
    vertical-align: top;
}

.required:first-child:after{
    content: "*";
}

.input {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: black;
    width: 100%;
    min-height: 40px;
    border: 1.5px solid #7F3F98;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 5px;
    margin: 10px 0px;
    vertical-align: top;
}

.input[type="checkbox"] {
    width: unset;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid #555;
}

.label[type="checkbox"] {
    vertical-align: middle;
}

.checkmark {
    background-color: tomato;
}

.input:focus {
    outline: none !important;
}

.sirioSelect {
    display: inline-block;
    margin: 10px 0;
}

.error {
    color: red;
    font-size: 14px;
    line-height: 1.2;
    text-align: justify;
    font-style: normal;
    font-weight: normal;
    padding-left: 5px;
    margin: 0
}

.groupedInput {
    width: 300px;
}

.buttonWrapper {
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding: 0;
}

.input:disabled {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: grey;
    background-color: #dddddd;
    width: 100%;
    min-height: 40px;
    border: 1.5px solid #8E8E8E;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 5px;
    margin: 10px 0px;
    vertical-align: top;
}