.sirioButton {
    color: var(--main-color);
    border: solid 1.5px var(--main-color);
    background-color: white;
    font-family: Proxima Nova;
    min-height: 30px;
    min-width: 100px;
}

.purple {
    --main-color: #7F3F98;
}

.hover:hover {
    color: white;
    background-color: var(--main-color);
}

.blue {
    --main-color: #5DBCD2;
}

.red {
    --main-color: #FF0000;
}

.recommended {
    color: white;
    background-color: var(--main-color);
}

.disabled {
    --main-color: #878787;
    pointer-events: none;
}

.hyperlink {
    color: blue;
    border: solid 1.5px #7F3F98;
}

.hyperlinkLeft {
    color: blue;
    border: none;
    text-align: left;
    padding: 0;
}

.text {
    border: none;
    color: #7F3F98;
    pointer-events: none;
    background-color: transparent;
}

.borderCircular {
    border-radius: 20px;
}

.borderNormal {
    border-radius: 6px;
}

.buttonTitle {
    margin: 0;
}