.purple {
    --main-color: #7F3F98;
    color: var(--main-color);
    border: solid var(--main-color) 1.5px;
    background-color: white;
    font-family: Proxima Nova;
    min-height: 30px;
    min-width: 100px;
}

.blue {
    --main-color: #5DBCD2;
    color: var(--main-color);
    border: solid var(--main-color) 1.5px;
    background-color: transparent;
    font-family: Proxima Nova;
    min-height: 30px;
    min-width: 100px;
}

.recommended {
    color: white;
    background-color: var(--main-color);
}

.disabled {
    color: #878787;
    pointer-events: none;
    background-color: transparent;
    border: solid 1.5px #878787;
}

.hyperlink {
    color: blue;
    border: none;
    background-color: transparent;
}

.text {
    border: none;
    background-color: transparent;
    color: #7F3F98;
    pointer-events: none;
}

.borderCircular {
    border-radius: 20px;
}

.borderNormal {
    border-radius: 6px;
}

.buttonTitle {
    margin: 0;
}