.button {
    color: #7F3F98;
    border: solid #7F3F98 1.5px;
    background-color: white;
    font-family: Proxima Nova;
    min-height: 30px;
    border-radius: 6px;
}

.recommendedBtn {
    color: white;
    border: solid #7F3F98 1.5px;
    background-color: #7F3F98;
    font-family: Proxima Nova;
    min-height: 30px;
    border-radius: 6px;
}

.hyperlink {
    color: blue;
    border: none;
    background-color: transparent;
    font-family: Proxima Nova;
    min-height: 30px;
}

.unchangeable {
    border: none;
    background-color: transparent;
    font-family: Proxima Nova;
    min-height: 30px;
    color: #7F3F98;
    pointer-events: none;
}

.buttonTitle {
    margin: 0;
}

.disabled {
    color: #8E8E8E;
    border-color: #8E8E8E;
    pointer-events: none;
}