.colheader {
    display: none;
}

.rowNumber {
    vertical-align: middle !important;
    text-align: center;
}

.rowItem {
    padding: 0.5rem !important;
    vertical-align: middle !important;
    height: 50px;
    font-size: 16px !important;
}