@import url('https://fonts.googleapis.com/css?family=Nunito:600,700&display=swap');
* {
    transition: 0.3s ease-in-out;
    transition-property: background-color, color, width, height, opacity, display, margin, left, top, bottom, right;
}

a {
    /* color: white; */
    text-decoration: none;
}

a:hover {
    color: unset;
}

h1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
}

h2 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
}

h3 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

h4 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

h5 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

h6 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

label {
    color: #8E8E8E;
}

input:focus {
    border: solid #7F3F98 1.5px;
}

tr {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    height: 30px;
}

.react-datepicker__header {
    background-color: white !important;
    border-bottom: 1px dashed #aeaeae;
}

.react-datepicker__day--selected {
    border-radius: 100%;
    background-color: #7F3F98;
}

.react-datepicker__day--selected:hover {
    border-radius: 100%;
    background-color: #7F3F98;
}

.react-datepicker__day:focus {
    outline: none;
}

.react-datepicker__day--outside-month{
    opacity: 0.8;
}

.react-datepicker__day {
    border-radius: 100%;
}

.react-datepicker__day:hover {
    border-radius: 100%;
    background-color: rgba(127, 63, 152, 0.781);
    color: white;
}

.react-datepicker__day--disabled:hover {
    border-radius: 0;
    background-color: transparent;
    color: white;
}

.react-datepicker__navigation {
    border: none;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    width: 20px;
    height: 20px;
    border-radius: 20%;
    color: black;
    background-repeat: no-repeat;
    background-position: center;
}

.react-datepicker__navigation--next {
    background-image: url(/angle_right.png);
    background-size: 15px;
}

.react-datepicker__navigation--previous {
    background-image: url(/angle_left.png);
    background-size: 15px;
}

.react-datepicker__navigation:focus {
    outline: none;
}

.react-datepicker__current-month {
    font-family: Nunito;
}

.react-datepicker__day-name {
    opacity: 0.7;
}

.sirio_tooltip {
    text-align: center;
    max-width: 300px;
}