@import url('https://fonts.googleapis.com/css?family=Nunito:600,700&display=swap');
* {
    transition: 0.2s ease-in-out;
}

a {
    /* color: white; */
    text-decoration: none;
}

a:hover {
    color: unset;
}

h1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
}

h2 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
}

h3 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

h4 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

h5 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

h6 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

label {
    color: #8E8E8E;
}

input:focus {
    border: solid #7F3F98 1.5px;
}

tr {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    height: 30px;
}