h1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
}

h2 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
}

h3 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

h4 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

h5 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

h6 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

label {
    color: #8E8E8E;
}

.sirio-btn-blue-recommended {
    background: #5DBCD2;
    border-radius: 6px;
    width: 150px;
    height: 35px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: white;
}