.headerWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 2rem;
}

.headerWithButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.headerWrapper>* {
    margin: 5px 0;
}

.logoImage {
    position: static;
    display: flex;
    margin-bottom: 0.5rem !important;
    margin-right: 1rem !important;
    height: 28px;
}