.mainContent {
    margin-left: 250px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

.pageContent {
    height: 100%;
    width: 90%;
}