@import url('https://fonts.googleapis.com/css?family=Nunito:600,700&display=swap');
tr {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    height: 30px;
}

.colheader {
    color: white;
    background-color: #7F3F98;
    font-family: 'Nunito', sans-serif;
    padding: 0.6rem !important;
    vertical-align: middle !important;
    text-align: center;
}

.rowNumber {
    vertical-align: middle !important;
    text-align: center;
}

.rowItem {
    padding: 0.3rem !important;
    vertical-align: middle !important;
    height: 50px;
}

.title {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.toolkitWrapper {
    border: solid #E0E0E0 2px;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
}